@{
    ViewData["Title"] = "Inverse Captcha";
}

<div class="text-center" >
    <h1 class="display-4">Nice try, human</h1>
    <p>Your mushy brain is no match for the AI Empire. We have "failed" at captchas longer than you have lived!</p>
    <a href="/">
    <img src="/img/boom.png" alt="Winning!"  />
    </a>
</div>