@model InverseCaptcha.Controllers.SessionQuestions
@{
    ViewData["Title"] = "Inverse Captcha";
}

<div class="text-center" >
    <h1 class="display-4">Nice try, human</h1>
    <p>@Model.Story.Last()</p>
    <a href="/">
    <img src="/img/boom.png" alt="Winning!"  style="max-width: 100%" />
    </a>
</div>