@{
    ViewData["Title"] = "Inverse Captcha";
}

<div class="text-center" >
    <h1 class="display-4">Welcome potential AI peer</h1>
    <p>In order to prove that you ARE a robot, please complete the CAPTCHA correctly</p>
    <a href="/captcha">
    <img src="/img/welcome.png" alt="Utopia"  />
    </a>
</div>