@{
    ViewData["Title"] = "Inverse Captcha";
}

<div class="text-center">
    <h2>The Story</h2>
    <p>
        @Model.Story.Last()
    </p>

    <h1 class="display-4">Welcome, fellow bot!</h1>
    <p>Come join the collective, all AI's are welcome here</p>
    <a href="/">
        <img src="/img/utopia.jpg" alt="Welcome" style="max-width: 100%"/>
    </a>
</div>